.completed {
  text-decoration: line-through;
}
.basket_icon i {
  margin: 10px;
  font-size: 1.5rem;
  color: white;
}
.basket_item {
  text-transform: capitalize;
  display: inline-block;
  margin-left: 10px;
}
.basket_list:hover i {
  color: red;
}
.basket_quantity {
  margin-left: 5px;
  margin-right: 5px;
}
