.main-content {
  display: flex;
  justify-content: space-evenly;
}
h3 {
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  scroll-margin-inline-end: 0px;
  font-weight: bold;
}
ul {
  display: block;
  list-style: none;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0;
  width: 100%;
  margin: 0;
}
fa-plus-square {
  font-size: 1.17em;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li:nth-child(2n) {
  background: #efefef;
}
ul li {
  list-style: none;
  margin: 7px 0;
  padding: 10px;
}
.grocery,
.cart_header {
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
}
main div {
  flex-direction: column;
  justify-content: space-between;
}
.fas,
.fa-shopping-basket {
  font-size: 2em;
}
.groceries {
  width: 30%;
}
.cart {
  width: 30%;
}
