nav {
  width: 50%;
  border: 1px solid red;
  align-self: center;
  margin: 30px auto;
  background-color: pink;
  padding: 20px;
  border-radius: 5px;
}
nav input {
  border: 0px;
  width: 50%;
  padding: 10px;
  margin: auto;
}
